<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
    <link rel="stylesheet" href="/blogs.css">
</head>
<body>

    <!-- <h2>Please Enter the title, and the blog.</h2> -->

    <% if (posts.length > 0) { %>
        <ol>
            <% for (let i=0; i<posts.length; i++) { %>
                <li>
                    <h2> <%= posts[i].title %> </h2>
                    <p> <%= posts[i].content %> </p>
                    <form action="/delete" method="DELETE">
                        <button>Delete</button>
                    </form>
                </li>
            <% } %>
        </ol>

    <% } else { %>
        <h2>Please enter the title and the blog.</h2>
    <% } %>


    <footer>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
        </nav>
    </footer>

</body>
</html>